{% extends "base.html" %}

{% block title %}Pysible - About{% endblock %}

{% block navbar %}
	{{ super() }}
	<div class="jumbotron text-center">
		<h1>About the project</h1>
		<p class="lead">Here you can read some info about the project</p>
	</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-center">

		<div class="col-12 col-md-10 col-xl-9 py-3 text-dark">
			<h3>About Pysible</h3>
			<p class="text-justify"><strong>Pysible</strong> is a project created by me, <a href="https://github.com/ArturVaskovets">Artur Vaskovets</a>, for a final work named <strong>PASIR</strong>. The project was inspired by <a href="https://phansible.com/">Phansible</a>, but has no goal to copy it. The main goal of Pysible is to provide a flexible and powerful tool that can make the life of Ansible administrators a little bit easier.</p>
			<h3>Technologies</h3>
			<p class="text-justify">Another goal of the project is to use Python and Flask as a base. Honestly, I have never used Python for Web Development before. So, it was a great experience. Here is a full list of technologies used in the project:</p>
			<ul>
				<li>Python 3</li>
				<li>Flask</li>
				<li>Jinja2 (included by default)</li>
				<li>WTForms</li>
				<li>SQLAlchemy</li>
				<li>Bootstrap 4</li>
				<li>Flask Extensions
					<ul>
						<li>Flask-CLI, Click (included by default)</li>
						<li>Flask-Bootstrap4</li>
						<li>Flask-Login</li>
						<li>Flask-SQLAlchemy</li>
						<li>Flask-WTF</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}




