{% extends "base.html" %}

{% block title %}Pysible - Account{% endblock %}

{% block navbar %}
	{{ super() }}
	<div class="jumbotron text-center">
		{% if current_user.username == username %}
			<h1>Your account</h1>
			<p class="lead">Here you can manage the configuration of your account</p>
		{% else %}
			<h1>Account of {{ username }}</h1>
			<p class="lead">Here you can manage account of this user</p>
		{% endif %}
	</div>

{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
				<h2 class="text-center py-3 font-weight-normal">Account configuration</h3>
				<div class="border rounded p-4">
					<form action="{{url_for('account_edit', username=username)}}" method="POST">
						{{ form.csrf_token }}
						<div>
							{% for field, errors in form.errors.items() %}
								<div class="alert alert-danger">
									{{ form[field].label }}: {{ ', '.join(errors) }}
								</div>
							{% endfor %}
						</div>
						<div class="form-group">
							{{ form.username.label() }}
							{{ form.username(class="form-control", readonly=True, title="You can't change the username") }}
						</div>
						<div class="form-group">
							{{ form.password.label() }}
							{{ form.password(class="form-control") }}
						</div>
						<div class="form-group">
							{{ form.name.label() }}
							{{ form.name(class="form-control") }}
						</div>
						<div class="form-group">
							{{ form.email.label() }}
							{{ form.email(class="form-control") }}
						</div>
						<button type="submit" class="btn btn-primary">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}