{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg py-1 navbar-light border-bottom box-shadow" style="background-color: #3CA3A3">
	<div class="container">
		<a href="{{ url_for('start') }}" class="navbar-brand">
			<img class="d-inline-block align-middle mr-2" src="{{url_for('static', filename='img/logo.png')}}" width="50" alt=""/>
			<span class="font-weight-bold text-dark">Pysible</span>
		</a>
		<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
		<div id="navbarSupportedContent" class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item {% if request.path == '/'  %}font-weight-bold active{% endif %}">
					<a href="{{ url_for('start') }}" class="nav-link text-dark">Home</a>
				</li>
				<li class="nav-item {% if request.path == '/about' %}font-weight-bold active{% endif %}">
					<a href="{{ url_for('about') }}" class="nav-link text-dark">About</a>
				</li>
				{% if current_user.is_authenticated and current_user.is_admin() %}
					<li class="nav-item {% if request.path == '/users' or '/account/' in request.path or '/projects/' in request.path %}font-weight-bold active{% endif %}">
						<a href="{{ url_for('users') }}" class="nav-link text-dark">Users</a>
					</li>
				{% endif %}

				{% if current_user.is_authenticated %}
					<li class="nav-item dropdown {% if request.path == '/projects' or request.path == '/account' %}font-weight-bold active{% endif %}">
						<a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{ current_user.name }}
						</a>
						<div class="dropdown-menu" aria-labelledby="userDropdown">
							<a class="dropdown-item text-dark" href="{{ url_for('projects') }}">Projects</a>
							<a class="dropdown-item text-dark" href="{{ url_for('account') }}">Account</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
						</div>
					</li>
				{% else %}
					<li class="nav-item {% if request.path == '/login'  %}font-weight-bold active{% endif %}">
						<a href="{{ url_for('login') }}" class="nav-link text-dark">Sign In</a>
					</li>
					<li class="nav-item {% if request.path == '/signup'  %}font-weight-bold active{% endif %}">
						<a href="{{ url_for('signup') }}" class="nav-link text-dark">Sign Up</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% endblock %}