{% extends "base.html" %}

{% block title %}Pysible{% endblock %}

{% block navbar %}
	{{ super() }}
	<div class="jumbotron text-center">
		<h1>Pysible - Ansible Helper</h1>
		<p class="lead">Generate a playbook for Ansible has never been so easy</p>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		<form id="mainForm" method="POST">
			{{ form.csrf_token }}
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-xl-9">
					<div>
						{% for field, errors in form.errors.items() %}
							<div class="alert alert-danger">
								{{ form[field].label }}: {{ ', '.join(errors) }}
							</div>
						{% endfor %}
					</div>
					<div id="accordion">
						<div class="card">
							<div class="card-header" id="headingGeneral">
								<h5 class="mb-0">
								<div class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral">
									General
								</div>
								</h5>
							</div>
							<div id="collapseGeneral" class="collapse show" aria-labelledby="headingGeneral" data-parent="#accordion">
								<div class="card-body">
									<h3>General configuration</h3>
									<div class="form-group">
										{{ form.playbook_name.label() }}
										<div class="input-group">
											{{ form.playbook_name(class="form-control") }}
											<div class="input-group-append">
												<span class="input-group-text">.yaml</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										{{ form.description.label() }}
										{{ form.description(class="form-control") }}
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingWebservers">
								<h5 class="mb-0">
								<div class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseWebservers" aria-expanded="false" aria-controls="collapseWebservers">
									Webservers
								</div>
								</h5>
							</div>
							<div id="collapseWebservers" class="collapse" aria-labelledby="headingWebservers" data-parent="#accordion">
								<div class="card-body">
									<h3>Webserver</h3>
									<div class="form-group">
										<div class="form-check">
											{{ form.install_webserver(class="form-check-input") }}
											{{ form.install_webserver.label(class="form-check-label") }}
										</div>
									</div>
									<div class="form-group">
										{{ form.server_types.label() }}
										<div class="form-control">
											{% for server_type in form.server_types %}
											<div class="form-check form-check-inline">
												{{ server_type(class="form-check-input") }}
												{{ server_type.label(class="form-check-label") }}
											</div>
										{% endfor %}
										</div>
									</div>
									<div class="form-group">
										{{ form.document_root.label() }}
										{{ form.document_root(class="form-control") }}
									</div>
									<div class="form-group">
										{{ form.server_name.label() }}
										{{ form.server_name(class="form-control") }}
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingInterpreters">
								<h5 class="mb-0">
								<div class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseInterpreters" aria-expanded="false" aria-controls="collapseInterpreters">
									Interpreters
								</div>
								</h5>
							</div>
							<div id="collapseInterpreters" class="collapse" aria-labelledby="headingInterpreters" data-parent="#accordion">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<h3>PHP</h3>
											<div class="form-group">
												<div class="form-check">
													{{ form.install_php(class="form-check-input") }}
													{{ form.install_php.label(class="form-check-label") }}
												</div>
											</div>
											<div class="form-group">
												{{ form.version_php.label() }}
												{{ form.version_php(class="form-control") }}
											</div>
											<div class="form-group">

											</div>
											<div class="form-group">

											</div>
											<div class="form-group">

											</div>
										</div>
										<div class="col-md-6">
											<h3>Python</h3>
											<div class="form-group">
												<div class="form-check">
													{{ form.install_python(class="form-check-input") }}
													{{ form.install_python.label(class="form-check-label") }}
												</div>
											</div>
											<div class="form-group">
												{{ form.version_python.label() }}
												{{ form.version_python(class="form-control") }}
											</div>
											<div class="form-group">

											</div>
											<div class="form-group">

											</div>
											<div class="form-group">

											</div>
										</div>
									</div>
									<div class="form-group">

									</div>
									<div class="form-group">

									</div>
									<div class="form-group">

									</div>
									<div class="form-group">

									</div>
									<div class="form-group">

									</div>
									<div class="form-group">

									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingDatabases">
								<h5 class="mb-0">
								<div class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseDatabases" aria-expanded="false" aria-controls="collapseDatabases">
									Databases
								</div>
								</h5>
							</div>
							<div id="collapseDatabases" class="collapse" aria-labelledby="headingDatabases" data-parent="#accordion">
								<div class="card-body">
									<h3>Database</h3>
									<div class="form-group">
										<div class="form-check">
											{{ form.install_db(class="form-check-input") }}
											{{ form.install_db.label(class="form-check-label") }}
										</div>
									</div>
									<div class="form-group">
										{{ form.db_types.label() }}
										<div class="border rounded p-2">
											<div class="row text-sm-center">
												{% for db_type in form.db_types %}
												<div class="col-sm">
													<div class="form-check form-check-inline">
														{{ db_type(class="form-check-input") }}
														{{ db_type.label(class="form-check-label") }}
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
									<p class="text-justify">Options. Each system has its own kit of options (corresponding column). If you check an option of other system it will not be applied.</p>
									<div class="row mb-3">
										<div class="col-sm">
											<div class="form-group border rounded p-2" style="height: 100%;">
												<div class="form-check">
													{{ form.db_delete_anonymous(class="form-check-input") }}
													{{ form.db_delete_anonymous.label(class="form-check-label") }}
												</div>
												<div class="form-check">
													{{ form.db_delete_test(class="form-check-input") }}
													{{ form.db_delete_test.label(class="form-check-label") }}
												</div>
											</div>
										</div>
										<div class="col-sm"></div>
										<div class="col-sm">
											<div class="form-group border rounded p-2" style="height: 100%;">
												{{ form.db_dir.label() }}
												{{ form.db_dir(class="form-control") }}
											</div>
										</div>
									</div>
									<div class="form-group border rounded p-2">
										<div class="form-check mb-3">
											{{ form.db_create_db(class="form-check-input") }}
											{{ form.db_create_db.label(class="form-check-label") }}
										</div>
										<div class="form-group">
											{{ form.db_name.label() }}
											{{ form.db_name(class="form-control") }}
										</div>
									</div>
									<div class="row">
										<div class="col-8">
											<div class="form-group border rounded p-2">
												<div class="form-check mb-3">
													{{ form.db_create_user(class="form-check-input") }}
													{{ form.db_create_user.label(class="form-check-label") }}
												</div>
												<div class="form-group">
													{{ form.db_username.label() }}
													{{ form.db_username(class="form-control") }}
												</div>
												<div class="form-group">
													{{ form.db_password.label() }}
													{{ form.db_password(class="form-control") }}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingSoon">
								<h5 class="mb-0">
								<div class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseSoon" aria-expanded="false" aria-controls="collapseSoon">
									Soon
								</div>
								</h5>
							</div>
							<div id="collapseSoon" class="collapse" aria-labelledby="headingSoon" data-parent="#accordion">
								<div class="card-body">
									<p>Here you can see the list of tabs/options that will be added soon:</p>
									<ul>
										<li>Databases
											<ul>
												<li>Redis</li>
											</ul>
										</li>
										<li>Timezones</li>
										<li>DHCP Servers</li>
										<li>Orchestration
											<ul>
												<li>Docker</li>
												<li>Kubernetes</li>
											</ul>
										</li>
									</ul>
									<p>If you have any suggestions write me to <a href="#">artik2607@gmail.com</a>.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mt-3 mb-5">
						<input id="generate" type="submit" class="btn btn-primary" value="Generate"/>
						{% if current_user.is_authenticated %}
							<input id="save" type="button" class="btn btn-success" value="Save"/>
						{% else %}
							<input id="save" type="button" class="btn btn-secondary" value="Save" title="Only for authenticated users" disabled/>
						{% endif %}
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
		btnSave = document.getElementById('save');
		form = document.getElementById('mainForm');
		btnSave.addEventListener("click", save);

		function save(event){
			form.action="{{ url_for('save') }}";
			form.submit();
		};
	</script>
{% endblock %}